@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "RadioButtons");
    string languagegroup = Request.Form["LanguageGroup"];
    string scriptgroup = Request.Form["ScriptGroup"];
}


@section banner {
    <h1> RadioButtons on a form</h1>
}

@if (IsPost)
{
    if (languagegroup.IsEmpty() || scriptgroup.IsEmpty())
    {
        <p><span style="color:firebrick">Make sure to select from both group choices!</span></p>
    }
    else
    {
        if (languagegroup.Equals("C#", StringComparison.OrdinalIgnoreCase))
        {
            <p>You will greatly enjoy the CPSC1517 course as we use C#</p>
        }
        else
        {
            <p>Too bad. Unfortunately the CPSC1517 course does not use @languagegroup</p>
        }

        if (scriptgroup.Equals("Razor", StringComparison.OrdinalIgnoreCase))
        {
            <p>You will greatly enjoy the CPSC1517 course as we use Razor</p>
        }
        else
        {
            <p>Too bad. Unfortunately the CPSC1517 course does not use @scriptgroup</p>
        }
    }
}


<form id="theform" method="post">
    <div class="row">
        <div class="offset-1">
            <label id="LanguageGrouplbl">Select your favorite programming language</label><br />
            <input type="radio" id="LanguageGroup" name="LanguageGroup" value="C#" />C#<br />
            <input type="radio" id="LanguageGroup" name="LanguageGroup" value="Visualbasic" />Visual Basic<br />
            <input type="radio" id="LanguageGroup" name="LanguageGroup" value="Fortran" />Fortran<br />
            <input type="radio" id="LanguageGroup" name="LanguageGroup" value="Cobal" />Cobal<br />
            <input type="radio" id="LanguageGroup" name="LanguageGroup" value="ObjectiveC" />Objective C<br />
            <br /><br />
            <label id="LanguageGrouplbl">Select your favorite scripting code</label><br />
            <input type="radio" id="ScriptGroup" name="ScriptGroup" value="JavaScript" />JavaScript<br />
            <input type="radio" id="ScriptGroup" name="ScriptGroup" value="Razor" />Razor<br />
            <input type="radio" id="ScriptGroup" name="ScriptGroup" value="PHP" />PHP<br />
        </div>
    </div>
    <div class="row">
        <div class="offset-1">
            <button type="submit" id="formButton" name="formButton" value="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

