@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "CheckBoxes");
    string choices = Request.Form["GameGroup"];
}

@section banner {
    <h1> Checkboxes on Form</h1>

}

@if(IsPost)
{
    //delay retrieving your data until the page has actually been posted back
    //IF you plan to work with this style AND you use the variables outside of the if{...} structure
    //    you MUST predefine the global variables in your top coding block
    choices = Request.Form["GameGroup"];
    //choices will be a comma delimited list of strings
    if (string.IsNullOrEmpty(choices))
    {
        <p><span style="color:firebrick">Make at least one Choice from the list.</span></p>
    }
    else
    {
        //use .Split(delimiter) method to split up the returned string
        //the delimiter is the character that seperates the string into
        //    smaller components
        //therefore each choice will be seperated by the comma
        //use the foreach loop to traverse your list of unknown number of choices
        <p>
            I see you like to use the following platforms:
            <ul>
                @foreach (var platform in choices.Split(','))
                {
                    <li>@platform</li>
                }
            </ul>
        </p>
    }
}

<form id="theform" method="post">
    <div class="row">
        <div class="offset-1">
            <label id="GameGrouplbl">Select your favorite gaming platform(s):</label><br /><br />
            <input type="checkbox" id="GameGroup" name="GameGroup" value="PS4" />PS4<br />
            <input type="checkbox" id="GameGroup" name="GameGroup" value="PC" />Computer<br />
            <input type="checkbox" id="GameGroup" name="GameGroup" value="xBox one" />xBox one<br />
            <input type="checkbox" id="GameGroup" name="GameGroup" value="Nintendo Switch" />Switch<br />
            <input type="checkbox" id="GameGroup" name="GameGroup" value="Cellphone" />Cell Phone<br />
            <input type="checkbox" id="GameGroup" name="GameGroup" value="Wii" />Wii<br />
            <button type="submit" id="theButton" name="theButton" value="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>
