<connectionStrings>
  <add name="NWDB"
        connectionString="Data Source=aventadorsv\sqlexpress; Initial Catalog=Northwind_CPSC1517; Integrated Security=true"
        providerName="System.Data.SqlClient"/>
  <!--<add name="Northwind_CPSC1517"
        connectionString="Data Source=.; Initial Catalog=Northwind_CPSC1517; Integrated Security=true"
        providerName="System.Data.SqlClient"/>-->


</connectionStrings>
